Repository danieleschmidt/llm-tab-cleaner: changes, and which Codecov flags are due for each by the changed paths.
All: unit, integration

.codecov.yml:

# Codecov configuration for LLM Tab Cleaner
# https://docs.codecov.com/docs/codecovyml-reference

codecov:
  require_ci_to_pass: true
  notify:
    after_n_builds: 1
    wait_for_ci: true

coverage:
  precision: 2
  round: down
  range: "70...100"
  
  status:
    project:
      default:
        target: 85%
        threshold: 2%
        base: auto
        flags:
          - unit
        paths:
          - "src/"
    patch:
      default:
        target: 80%
        threshold: 5%
        base: auto
        flags:
          - unit

  ignore:
    - "tests/"
    - "docs/"
    - "examples/"
    - "notebooks/"
    - "setup.py"
    - "**/__init__.py"
    - "**/cli.py"  # CLI is tested integration-style

parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: "diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes
  branches:
    - main
    - develop

github_checks:
  annotations: true

flags:
  unit:
    paths:
      - src/
    carryforward: true
  integration:
    paths:
      - tests/integration/
    carryforward: false

ignore:
  - "venv/"
  - ".venv/"
  - "build/"
  - "dist/"
  - "*.egg-info/"

feat: implement comprehensive SDLC enhancements for maturing repository
  .bandit
  .github/CODEOWNERS
  CHANGELOG.md
  docs/SDLC_ENHANCEMENT_SUMMARY.md
  docs/monitoring/observability-setup.md
  docs/workflows/ci.yml.template
  docs/workflows/release.yml.template
  docs/workflows/security.yml.template
Due: none

feat(ci): add comprehensive GitHub Actions CI/CD workflow
  .github/workflows/ci.yml
  .terragon/config.yaml
  .terragon/value-metrics.json
  BACKLOG.md
  docs/workflows/ci.yml.template
  tests/test_cli.py
  tests/test_confidence.py
  tests/test_incremental.py
Due: none

feat: add workflow setup instructions and remove problematic CI file
  .github/workflows/ci.yml
  WORKFLOW_SETUP.md
Due: none

docs: establish project foundation and community files
  ARCHITECTURE.md
  PROJECT_CHARTER.md
  docs/ROADMAP.md
  docs/adr/000-template.md
  docs/adr/001-llm-provider-architecture.md
Due: none

feat: setup development environment and code quality tools
  .bandit
  .env.example
  .gitignore
  .pre-commit-config.yaml
  .vscode/extensions.json
  pyproject.toml
Due: none

test: establish comprehensive testing infrastructure
  tests/conftest.py
  tests/e2e/__init__.py
  tests/fixtures/__init__.py
  tests/fixtures/sample_datasets.py
  tests/integration/__init__.py
  tests/integration/test_end_to_end_pipeline.py
  tests/performance/__init__.py
  tests/performance/test_benchmarks.py
  tests/unit/__init__.py
Due: integration

build: add containerization and build automation
  .dockerignore
  Makefile
Due: none

docs: add CI/CD and security workflow documentation and templates
  docs/SETUP_REQUIRED.md
  docs/workflows/examples/ci.yml
Due: none

feat: implement complete LLM-powered data cleaning functionality
  pyproject.toml
  src/llm_tab_cleaner/__init__.py
  src/llm_tab_cleaner/benchmarks.py
  src/llm_tab_cleaner/cleaning_rule.py
  src/llm_tab_cleaner/cli.py
  src/llm_tab_cleaner/confidence.py
  src/llm_tab_cleaner/core.py
  src/llm_tab_cleaner/llm_providers.py
  src/llm_tab_cleaner/profiler.py
  src/llm_tab_cleaner/spark.py
  test_implementation.py
Due: unit

Update README.md
  README.md
Due: none

feat(core,cli,deployment,incremental,monitoring,optimization,security): add autonomous SDLC with monitoring, optimization, security, deployment
  AUTONOMOUS_SDLC_REPORT.md
  pyproject.toml
  src/llm_tab_cleaner/cli.py
  src/llm_tab_cleaner/core.py
  src/llm_tab_cleaner/deployment.py
  src/llm_tab_cleaner/incremental.py
  src/llm_tab_cleaner/monitoring.py
  src/llm_tab_cleaner/optimization.py
  src/llm_tab_cleaner/security.py
  tests/test_core.py
Due: unit

feat(documentation): add comprehensive API reference and deployment guide
  API_REFERENCE.md
  ARCHITECTURE.md
  DEPLOYMENT_GUIDE.md
  FINAL_REPORT.md
  run_quality_gates.py
  src/llm_tab_cleaner/compliance.py
  src/llm_tab_cleaner/confidence.py
  src/llm_tab_cleaner/i18n.py
  src/llm_tab_cleaner/llm_providers.py
  src/llm_tab_cleaner/optimization.py
  src/llm_tab_cleaner/translations/de.json
  src/llm_tab_cleaner/translations/en.json
  src/llm_tab_cleaner/translations/es.json
  src/llm_tab_cleaner/translations/fr.json
  src/llm_tab_cleaner/translations/ja.json
  src/llm_tab_cleaner/translations/zh.json
  test_global_first.py
  test_robustness.py
  test_robustness_simple.py
  test_scaling.py
  test_scaling_simple.py
Due: unit

feat(deployment): add production deployment infrastructure and automation
  API_REFERENCE_ENHANCED.md
  AUTONOMOUS_SDLC_FINAL_REPORT.md
  deployment/docker-compose.production.yml
  deployment/k8s/deployment.yaml
  deployment/scripts/deploy.sh
  deployment/terraform/main.tf
  examples/enhanced_pipeline_example.py
  run_comprehensive_tests.py
  src/llm_tab_cleaner/adaptive.py
  src/llm_tab_cleaner/backup.py
  src/llm_tab_cleaner/caching.py
  src/llm_tab_cleaner/core.py
  src/llm_tab_cleaner/distributed.py
  src/llm_tab_cleaner/health.py
  src/llm_tab_cleaner/optimization.py
  src/llm_tab_cleaner/streaming.py
  src/llm_tab_cleaner/validation.py
Due: unit

feat(autonomous-sdlc): add autonomous SDLC execution with production deployment
  AUTONOMOUS_SDLC_EXECUTION_FINAL_REPORT.md
  DEPLOYMENT_STATUS.md
  Dockerfile.production
  coverage.json
  deployment/production-ready.yml
  deployment/scripts/production-deploy.sh
  pyproject.toml
  quality_reports/quality_gates_report_20250811_121203.json
  quality_reports/quality_gates_report_20250811_121628.json
  quality_reports/quality_gates_summary_20250811_121203.md
  quality_reports/quality_gates_summary_20250811_121628.md
  run_quality_gates_fixed.py
  src/llm_tab_cleaner/advanced_security.py
  src/llm_tab_cleaner/auto_scaling.py
  src/llm_tab_cleaner/research.py
  tests/test_advanced_security.py
  tests/test_auto_scaling.py
  tests/test_research.py
Due: unit

feat(research): implement cutting-edge research modules and autonomous SDLC execution
  AUTONOMOUS_SDLC_EXECUTION_FINAL_REPORT_v5.md
  coverage.json
  quality_reports/quality_gates_report_20250812_231702.json
  quality_reports/quality_gates_report_20250812_232746.json
  quality_reports/quality_gates_summary_20250812_231702.md
  quality_reports/quality_gates_summary_20250812_232746.md
  research_demo.py
  src/llm_tab_cleaner/__init__.py
  src/llm_tab_cleaner/adaptive_learning.py
  src/llm_tab_cleaner/federated_learning.py
  src/llm_tab_cleaner/multimodal_cleaning.py
  src/llm_tab_cleaner/neural_confidence.py
  tests/conftest.py
Due: unit

feat(autonomous-sdlc): add full autonomous SDLC execution with demos and deployment
  AUTONOMOUS_SDLC_EXECUTION_FINAL_REPORT_v6.md
  comprehensive_quality_gates.py
  deployment_report_20250814_040444.json
  deployment_summary_20250814_040444.md
  production_deployment.py
  quality_gates_report_20250814_040313.json
  robust_demo.py
  scalable_demo.py
  simple_demo.py
Due: none

feat(autonomous-sdlc): complete autonomous SDLC execution v4 with advanced research capabilities
  deployment_report_20250815_190712.json
  deployment_summary_20250815_190712.md
  src/llm_tab_cleaner/optimization.py
Due: unit

docs(report): add comprehensive final report for autonomous SDLC execution
  AUTONOMOUS_SDLC_EXECUTION_FINAL_REPORT_v7.md
Due: none

feat(research): add three novel research breakthroughs for LLM data cleaning
  AUTONOMOUS_SDLC_FINAL_REPORT_v8.md
  RESEARCH_PAPER_DRAFT.md
  research_results/validation_results.json
  research_validation_framework.py
  research_validation_simple.py
  src/llm_tab_cleaner/adaptive_meta_routing.py
  src/llm_tab_cleaner/cross_modal_calibration.py
  src/llm_tab_cleaner/federated_quality_learning.py
Due: unit

Update RESEARCH_PAPER_DRAFT.md
  RESEARCH_PAPER_DRAFT.md
Due: none

feat: Complete Autonomous SDLC Enhancement v4.0 Implementation
  AUTONOMOUS_SDLC_IMPLEMENTATION_SUMMARY.md
  autonomous_sdlc_demo.py
  src/llm_tab_cleaner/__init__.py
  src/llm_tab_cleaner/adaptive_meta_routing.py
  src/llm_tab_cleaner/autonomous_monitoring.py
  src/llm_tab_cleaner/autonomous_production_system.py
  src/llm_tab_cleaner/intelligent_autoscaling.py
  src/llm_tab_cleaner/ml_quality_gates.py
  src/llm_tab_cleaner/self_healing_coordinator.py
Due: unit

docs: complete checkpoint 1 - enhanced project foundation
  CODEOWNERS
Due: none

feat: complete checkpoint 2 - development environment and tooling setup
  .devcontainer/Dockerfile.dev
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.dev.yml
  .devcontainer/post-create.sh
  .devcontainer/post-start.sh
Due: none

test: complete checkpoint 3 - enhanced testing infrastructure
  pytest.ini
  scripts/run_tests.py
  tests/performance/test_performance_framework.py
  tests/utils.py
Due: none

feat: complete checkpoint 4 - enhanced build and containerization
  Dockerfile.security
  docker-compose.production.yml
  scripts/build.py
  scripts/deploy.sh
Due: none

feat(deployment): add autonomous production deployment with global multi-region support
  .github/workflows/production.yml
  COMPLIANCE_CONFIGURATION.md
  Dockerfile.production
  SECURITY_POLICY.md
  TERRAGON_SDLC_v4_FINAL_EXECUTION_REPORT.md
  autonomous_production_deployment.py
  autonomous_production_deployment_report_20250819_234153.json
  autonomous_production_deployment_summary_20250819_234153.md
  autonomous_quality_validation.py
  autonomous_quality_validation_report_20250819_233948.json
  autonomous_quality_validation_summary_20250819_233948.md
  deployment_config_ap-southeast-1.json
  deployment_config_eu-west-1.json
  deployment_config_us-east-1.json
  global_i18n_config.json
  grafana_dashboard.json
  k8s/deployment.yaml
  k8s/service.yaml
  main.tf
  nginx_config.conf
  prometheus_config.yml
  redis_config.json
  src/llm_tab_cleaner/progressive_quality_gates.py
  src/llm_tab_cleaner/robust_enhancement.py
  src/llm_tab_cleaner/scale_optimization.py
  standalone_quality_validation.py
  variables.tf
Due: unit

docs: add workflow setup guide for manual CI/CD configuration
  WORKFLOW_SETUP_GUIDE.md
Due: none

fix: remove workflow file due to GitHub App permissions
  .github/workflows/production.yml
Due: none

feat(deployment): add full production deployment automation and global orchestration
  AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  autonomous_comprehensive_quality_gates.py
  deployment/configs/production.env
  deployment/configs/secrets.yaml.template
  deployment/configs/values.production.yaml
  deployment/deployment-manifest.json
  deployment/deployment-summary.txt
  deployment/docker/Dockerfile
  deployment/docker/docker-compose.production.yml
  deployment/docker/docker-compose.yml
  deployment/global/deployment_config_ap-southeast-1.json
  deployment/global/deployment_config_eu-west-1.json
  deployment/global/deployment_config_us-east-1.json
  deployment/global/deployment_config_us-west-2.json
  deployment/global/deployment_summary_20250821_031223.json
  deployment/helm/llm-tab-cleaner/Chart.yaml
  deployment/helm/llm-tab-cleaner/values.yaml
  deployment/k8s/configmap.yaml
  deployment/k8s/deployment.yaml
  deployment/k8s/hpa.yaml
  deployment/k8s/ingress.yaml
  deployment/k8s/namespace.yaml
  deployment/k8s/service.yaml
  deployment/monitoring/alerts.yml
  deployment/monitoring/grafana-dashboard.json
  deployment/monitoring/prometheus.yml
  deployment/scripts/deploy.sh
  deployment/scripts/health-check.sh
  deployment/scripts/rollback.sh
  deployment/terraform/main.tf
  deployment/terraform/outputs.tf
  deployment/terraform/variables.tf
  global_deployment_orchestrator.py
  production_deployment_manifest.py
  quality_reports/quality_gates_report_20250821_030943.json
  quality_reports/quality_gates_summary_20250821_030943.md
  src/llm_tab_cleaner/advanced_performance_optimizer.py
  src/llm_tab_cleaner/advanced_security_framework.py
  src/llm_tab_cleaner/enhanced_reliability_system.py
Due: unit

feat(autonomous-system): add autonomous global deployment and research validation systems
  autonomous_global_deployment_report_1755770082.json
  autonomous_global_deployment_system.py
  autonomous_research_validation_framework.py
  autonomous_research_validation_report_1755770217.json
  deployment_config_ap-southeast-1.json
  deployment_config_eu-west-1.json
  deployment_config_us-east-1.json
  src/llm_tab_cleaner/autonomous_production_enhanced.py
  src/llm_tab_cleaner/hyperscale_optimization.py
  src/llm_tab_cleaner/intelligent_quality_gates.py
  test_autonomous_system_integration.py
Due: unit

feat(deployment): add global production deployment system with multi-region support
  Dockerfile.production
  enhanced_test_results.json
  global_deployment_report_1755899175.json
  global_production_deployment.py
  performance_validation_results.json
  quality_reports/quality_gates_report_20250822_213901.json
  quality_reports/quality_gates_summary_20250822_213901.md
  run_enhanced_tests.py
  security_performance_validator.py
  security_scan_results.json
  src/llm_tab_cleaner/chaos_engineering.py
  src/llm_tab_cleaner/enhanced_reliability_system.py
  src/llm_tab_cleaner/hyperscale_performance_optimizer.py
Due: unit

feat(autonomous-sdlc): add Generation 4 autonomous SDLC with research, optimization, quality, and deployment
  GENERATION_4_AUTONOMOUS_SDLC_FINAL_EXECUTION_REPORT.md
  autonomous_generation_4_quality_validator.py
  autonomous_global_production_deployment.py
  deployment/configs/ap-southeast-1_autoscaling.json
  deployment/configs/ap-southeast-1_infrastructure.json
  deployment/configs/ap-southeast-1_loadbalancer.json
  deployment/configs/eu-west-1_autoscaling.json
  deployment/configs/eu-west-1_infrastructure.json
  deployment/configs/eu-west-1_loadbalancer.json
  deployment/configs/us-east-1_autoscaling.json
  deployment/configs/us-east-1_infrastructure.json
  deployment/configs/us-east-1_loadbalancer.json
  deployment/k8s/ap-southeast-1_deployment.yaml
  deployment/k8s/eu-west-1_deployment.yaml
  deployment/k8s/us-east-1_deployment.yaml
  deployment/monitoring/ap-southeast-1_monitoring.json
  deployment/monitoring/eu-west-1_monitoring.json
  deployment/monitoring/us-east-1_monitoring.json
  src/llm_tab_cleaner/hyperscale_autonomous_research_validator.py
  src/llm_tab_cleaner/quantum_hyperscale_optimizer.py
Due: unit

feat(autonomous_generation_4): add complete Generation 4 autonomous SDLC with deployment and validation
  AUTONOMOUS_GENERATION_4_SDLC_FINAL_EXECUTION_REPORT.md
  autonomous_generation_4_comprehensive_validator.py
  autonomous_generation_4_minimal_validator.py
  autonomous_global_production_deployment_report_1756123461.json
  autonomous_global_production_deployment_summary_1756123461.json
  autonomous_global_production_deployment_system.py
  generation_4_minimal_validation_report_1756123321.json
  src/llm_tab_cleaner/advanced_ml_quality_validator.py
  src/llm_tab_cleaner/autonomous_research_framework.py
  src/llm_tab_cleaner/enterprise_security_framework.py
  src/llm_tab_cleaner/hyperscale_performance_engine.py
  src/llm_tab_cleaner/quantum_optimization_engine.py
  src/llm_tab_cleaner/resilience_orchestrator.py
Due: unit

feat(quality_gates): add autonomous quality gates system for code validation
  autonomous_quality_gates.py
  autonomous_robustness_system.py
  global_deployment_report_1756123797.json
  hyperscale_optimization_engine.py
  hyperscale_shutdown_report.json
  research_env/bin/Activate.ps1
  research_env/bin/activate
  research_env/bin/activate.csh
  research_env/bin/activate.fish
  research_env/bin/distro
  research_env/bin/f2py
  research_env/bin/fonttools
  research_env/bin/httpx
  research_env/bin/jsondiff
  research_env/bin/jsonpatch
  research_env/bin/jsonpointer
  research_env/bin/normalizer
  research_env/bin/numpy-config
  research_env/bin/openai
  research_env/bin/pip
  research_env/bin/pip3
  research_env/bin/pip3.12
  research_env/bin/pyftmerge
  research_env/bin/pyftsubset
  research_env/bin/python
  research_env/bin/python3
  research_env/bin/python3.12
  research_env/bin/tqdm
  research_env/bin/ttx
  research_env/lib64
  research_env/pyvenv.cfg
  research_env/share/man/man1/ttx.1
  research_results/validation_report_20250825_115406.json
  research_results/validation_results_20250825_115537.json
  robustness_shutdown_report.json
Due: none

feat(autonomous-sdlc): add complete autonomous SDLC v4 with production deployment
  TERRAGON_AUTONOMOUS_SDLC_v4_FINAL_SUCCESS_REPORT.md
  audit_log.json
  autonomous_production_deployment_system.py
  autonomous_quality_validation_system.py
  deployment_artifacts_llm-tab-cleaner-1756236857/Dockerfile.production
  deployment_artifacts_llm-tab-cleaner-1756236857/docker-compose.production.yml
  deployment_artifacts_llm-tab-cleaner-1756236857/helm/Chart.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/helm/values.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/k8s/deployment.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/k8s/hpa.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/k8s/ingress.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/k8s/namespace.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/k8s/service.yaml
  deployment_artifacts_llm-tab-cleaner-1756236857/terraform/main.tf
  deployment_plan_llm-tab-cleaner-1756236857.json
  hyperscale_optimization_system.py
  production_deployment_final.py
  quality_gates_report.json
  robust_enhancement_system.py
  simple_functionality_test.py
Due: none
